body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urna{
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}

.tela{
    width: 700px0;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);    
}

.teclado{
    margin-left: 30px;
    background-color: #403a3a;
}   